@import "@fontsource/maven-pro";
@import "@fontsource/cinzel";
@import "@fontsource/nunito";

body {
  font-family: Nunito, Roboto, sans-serif;
}

a,
.btn {
  @apply transition-colors duration-200;
  @apply hover:text-secondary;
}

.heading-text, h1, h2, h3, h4, h5, h6 {
  font-family: "Maven Pro", sans-serif;
}

.title-text {
  font-family: Cinzel, serif;
}