---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Welcome to JKMA" id="about-us">
  <Icon slot="eyebrow" name="jkma_logo" class="h-32" />
  <Fragment slot="lead">
    Welcome To Jita Kyoei Martial Arts
  </Fragment>
  <Fragment>
    <p>
      Located in the Niagara Park Stadium on the Central Coast of New South Wales, Jita Kyoei Martial Arts practices the fundamental principle of Jita Kyoei - <span class="font-bold">Mutual Benefit and Welfare</span>.
    </p>
    <p>
    We cater for <span class="font-bold">everyone</span> ages five and up, of <span class="font-bold">all fitness and experience levels</span>.
    </p>
    <p>
      Come along and see what the fuss is about, <span class="font-bold">your first week is free!</span>
    </p>
  </Fragment>
  <div class="grid grid-cols-1 gap-2">
    <a
      href="mailto:jitakyoeimartialarts@gmail.com"
      class="flex items-center justify-center gap-3 border rounded-xl border-current px-6 py-4"
    >
      <Icon pack="mdi" name="email" class="h-8" />
      <span>Contact Us</span>
    </a>
  </div>
</ContentSection>
