---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import {classes} from "../data/classes"
---

<ContentSection title="Classes" id="classes">
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 gap-6 sm:gap-8 lg:gap-12 scroll-pad">
    {
      classes.map(({ id, title, description}) => (
        <li id={id} class="flex flex-col gap-4">
          <p class="font-bold text-2xl">{title}</p>
          <Fragment set:html={description} />
        </li>
      ))
    }
  </ul>
</ContentSection>
