---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Contact Us" id="contact-us">
  <Fragment>
    <div>
      We pride ourselves on being approachable and friendly. Feel free to get in touch with any questions or comments you have!
      <ul class="list-disc list-inside">
        <li>Phone: 0422 058 087</li>
        <li>Email: <a href="mailto:jitakyoeimartialarts@gmail.com">jitakyoeimartialarts@gmail.com</a></li>
        <li>Facebook: <a href="https://www.facebook.com/jkmaclub">@jkmaclub</a></li>
      </ul>
    </div>
  </Fragment>
</ContentSection>
