---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Location" id="location">
  <Fragment>
    <div>
      Now located in the Niagara Park Stadium! Our facilities include the following:
      <ul class="list-disc list-inside">
        <li>99m<sup>2</sup> Professional mat space</li>
        <li>Fully airconditioned for training comfort</li>
        <li>M/F changerooms, toilets, showers and locker rooms</li>
      </ul>
    </div>

    <div class="w-full aspect-video">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3331.5083864803746!2d151.35009331578883!3d-33.38389850148707!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b72cab95fce9b49%3A0x24c575b95e8b9a34!2sJita%20Kyoei%20Martial%20Arts!5e0!3m2!1sen!2sau!4v1676798814776!5m2!1sen!2sau"
              width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
      >
      </iframe>
    </div>
  </Fragment>
</ContentSection>
