---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Pricing" id="pricing">
  <Fragment>
    <div>
      We believe our services are very competitively priced and do not subscribe to the idea of hiding prices until you come in to speak in person. Below is a basic run-down of the pricing structure for training with Jita Kyoei Martial Arts:
      <ul class="list-disc list-inside">
        <li>First week is free (no matter how many classes you attend)!</li>
        <li>Casual class and visitor drop-in rate: $20 per day.</li>
        <li>Monthly membership: $75 adults, $50 kids for unlimited classes (no minimum contract).</li>
        <li>Private classes (available on request): $100 per hour for one or two people, $50 per person there-after.</li>
      </ul>
    </div>
    <div>
      Additional fees are as follows:
      <ul class="list-disc list-inside">
        <li>
          Yearly registration with Judo NSW (required for those that wish to receive a grade in Judo):
          <ul class="list-[circle] list-inside pl-6">
            <li>Juniors: $125 per year. Must be less than 16 years of age at the time of membership. Active school vouchers may be used to offset most of this cost.</li>
            <li>Seniors: $175 per year.</li>
          </ul>
        </li>
        <li>Grading session including certificate and belt: $40.</li>
      </ul>
    </div>
    <div>
      Please let us know if you have any questions or difficulties and we will do our best to work with you.
    </div>
  </Fragment>
</ContentSection>
