---
import type {TimetableClass} from "../types"

export interface Props {
  items: TimetableClass[];
  title: string;
}

const {items, title} = Astro.props;
---

<div class="w-full max-w-6xl space-y-2">
  <h3 class="heading-font text-3xl">{title}</h3>
  <ul class="grid sm:grid-cols-2 lg:grid-cols-3">
    {
      items.map((item) => (
          <li>
            <a class="" href={"#" + item.class.id}>
              <div class="font-bold">{item.class.title}</div>
              <div>{item.time}</div>
            </a>
          </li>
      ))
    }
  </ul>
</div>
